/* 
Verde: #7aa44a 
Lila: #b685c6 
Celeste: #36a4d3 
Rosa: #ef66b9 
Mostaza: #a38321 
Gris claro: #dbdbdb 
Gris modal fondo: #edecec 
Gris oscuro letra: #ba5e49 
Gris iconos: #646464 
Rojo: #e84848 */


/* .left-card {
    float: left;
    margin-left: 1%;
} */

body {
    background-color: #D30A40;
}

nav {
    background-color: black !important;
}

.navbar-brand {
    color: white !important;
    letter-spacing: 10px;
}

.form-control {
    background-color: #000;
    border: 1px solid #fff !important;
    letter-spacing: 5px;
}

.form-control::placeholder {
    color: #929191;
}

.form-control:focus {
    background-color: #000;
    color: #f3f3f3;
}

.mt-13 {
    margin-top: 11vh !important;
}

.btn {
    background-color: transparent;
}